component {

  h3 {
    font-size: 35px;
  }

  .milestones {
    margin-top: 15px;

    .milestoneTitle {
      font-size: 25px;
      border-bottom: solid 2px #ccc;
    }

    .milestone {
      display: inline-block;
      width: 100px;
      color: #ccc;
      background: #fff;
      border: solid 2px rgba(0,0,0,0);

      &.active {
        color: #000;
        border: solid 2px rgba(0,0,0,1);
      }

      &.complete {
        color: #999;
        background: #B0FFB0;
      }
    }
  }

  .controls {
    .control {
      display: inline-block;
      padding: 5px 25px;
      cursor: pointer;

      &:hover {
        color: #666;

        .controlIcon {
          border-color: #666;
        }
      }

      .controlIcon {
        border: solid 2px #000;
        border-radius: 150px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }

      &.delete {
        margin-left: 50px;
        color: darkred;

        .controlIcon {
          color: darkred;
        }
      }
    }
  }

  .progressSection {
    margin: 25px 0;
    min-height: 130px;

    .lenseSection {
      display: inline-block;
      float: left;
      box-shadow: 2px 2px 19px #0D3D65;
      margin: 0px 20px 10px 20px;
      padding: 10px;
      width: 29%;
      min-width: 400px;
      font-size: 14px;

      h3 {
        font-size: 20px;
        padding: 5px 0;
        margin-bottom: 15px;
        border-bottom: solid 1px #ccc;
        color: #555;
        font-weight: bold;
      }

      div {
        text-align: left;
        padding-left: 15px;

        &.bold {
          margin-top: 10px;
          font-size: 18px;
          font-weight: bold;
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;

        tr.bold {
          td {
            padding-top: 10px;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  component {

    .controls .control.delete {
      margin-top: 50px;
    }

    .progressSection .lenseSection {
      float: none;
      min-width: auto;
      width: 90%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}